@font-face {
  font-family: "FiraCode", sans-serif;
  src: url("/static/fonts/FiraCode/FiraCodeNerdFont-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Arial, sans-serif;
  src: local("Arial");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

html,
body {
  scroll-behavior: smooth !important;
}

body {
  font-family: "FiraCode", sans-serif;
  font-size: 18px;
  background-color: black;
  color: whitesmoke;
}
