@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

html,
body,
#app {
  margin: 0rem;
  width: 100%;
  height: 100%;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}

body strong {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

body em {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: italic;
}

#app {
  position: fixed;
  z-index: -10;
}

#canvas {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  touch-action: none;
}

.content {
  z-index: 10;
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 2rem;
  margin: 0rem;
}

h2 {
  font-size: 1.5rem;
  margin: 0rem;
  margin-top: 1rem;
}

.info h2 {
  font-size: 1.25rem;
  margin: 0rem;
}

h3 {
  font-size: 1.25rem;
  margin: 0rem;
  margin-top: 1.5rem;
}

.info h2 {
  margin: 0rem;
  margin-bottom: 1rem;
}

hr {
  margin: 0rem;
  margin-bottom: 1.5rem;
  background-color: black;
  color: black;
}

.skills ul {
  margin: 0rem;
  margin-top: 1rem;
}

p {
  margin: 0rem;
}

a:link,
a:visited {
  /* color: black; */
  color: #0000ee;
  text-decoration: underline;
}

.info {
  text-align: center;
}

.info p {
  margin-top: 0.25rem;
  margin-bottom: 1rem;
}

.projects em {
  margin-bottom: 1rem;
}

.projects p {
  margin-bottom: 1rem;
}

.hidden li {
  color: white;
}
