@import "tailwindcss";

@layer components {
  .glass-card {
    @apply outline-none overflow-hidden rounded-3xl border border-white/30 bg-white/10 backdrop-blur-xl shadow-xl;
  }

  .animate {
    @apply transition-all duration-75 ease-linear;
  }
}
